{% block description %}
<div class="row two-column description">
  <section class="split">
    <p>
    Gombot is an app that securely remembers your passwords and lets you <strong>sign in to your favorite websites with just one click</strong>.
    <p>
    Gombot even helps you take your passwords with you; it will be available on Mozilla Firefox, Google Chrome and Apple iPhone/iPod Touch.
    <div>
    <img src="/img/ff-logo.png" />
    <img src="/img/chrome-logo.png" />
    <img src="/img/ios-logo.png" />
    </div>
  </section>
  <section class="split">
    <p>
    <strong>Now there's no need to remember so many passwords anymore</strong>. Just type in a single master password and Gombot does the rest for you. For even greater security, Gombot can PIN protect your stored password before signing you in to a site. That's extra important when you want that extra layer of safety for your personal data when using email, Facebook or online banking.
    <p>
    Gombot is made by Mozilla, the global non-profit organization that answers to no one but you.
  </section>
</div>
{% endblock %}
