{% extends "layout.html" %}

{% block page_title %}You're on the list{% endblock %}

{% block content %}
<div id="main-content">
<div class="row">
    <h2 class="main"><img src="/img/gombot-logo-92x92.png" /> You're on the list</h2>

  <div class="blurb">
    <p>
    We'll send out an email to let you know when Gombot is ready to download and test. Thanks so much for signing up.
    </p>

    <p>
    In the meantime, here's how to get in touch:
    </p>

    <p>
    twitter: <a href="http://twitter.com/mozlabs">@mozlabs</a> and
              <a href="http://twitter.com/mozillapersona">@mozillapersona</a> <br/>
    IRC: #gombot
    </p>
  </div>

</div>
</div>
{% endblock %}
