<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- If you are using sandstone for a static website, you can safely delete this file -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block page_title_prefix %}Mozilla — {% endblock %}{% block page_title %}{% endblock %}{% block page_title_suffix %} — mozilla.org{% endblock %}</title>

        <link rel="shortcut icon" href="img/favicon.ico" />
        <link rel="stylesheet" type="text/css" href="//www.mozilla.org/tabzilla/media/css/tabzilla.css" media="screen" />

        <!--[if lte IE 8]>
        <script src="js/libs/html5shiv.js"></script>
        <![endif]-->

        {% block css %}
        <link rel="stylesheet" type="text/css" href="css/sandstone-resp.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="css/gombot.css" media="screen" />
        {% endblock %}

        {% block extrahead %}{% endblock %}
    </head>
    <!-- The four different themes of sandstone are, stone, sand, sky, space. Replace the class on the
         body tag below, with the theme you wish to use for your project -->
    <body id="sandstone" class="sand gombot">
        <div id="outer-wrapper">
            <div id="wrapper">
                {% block site_header %}
                <header id="masthead">
                    <a href="http://www.mozilla.org/" id="tabzilla">Mozilla</a>
                    <nav id="nav-main" role="menubar">
                        <span class="toggle" role="button" aria-controls="nav-main-menu" tabindex="0">Menu</span>
                        <ul role="menu" id="nav-main-menu">
                            <li><a class="" href="https://mozillalabs.com/en-US/">Home</a></li>
                            <li><a class="" href="https://mozillalabs.com/en-US/about/">About</a></li>
                            <li><a class="current" href="https://mozillalabs.com/en-US/projects/">Projects</a></li>
                            <li><a href="http://blog.mozilla.com/labs/">Blog</a></li>
                        </ul>
                    </nav>

                    {% block site_header_logo %}
                    <h2><a href="http://mozillalabs.com/"><img src="/img/sandstone/header-mozilla-labs.png" alt="mozilla"></a></h2>
                    {% endblock %}

                    {% block breadcrumbs %}{% endblock %}

                </header>
                {% endblock %}

                <hgroup id="main-feature" class="splash center">
                  <h2>Tired of remembering your usernames and passwords?</h2>
                  <h1>Let Gombot do the work for you.</h1>
                </hgroup>

                {% block content %}{% endblock %}

            </div>

            {% block site_footer %}
            <footer id="colophon">
              <div class="row">
                  <div class="footer-logo">
                      <a href="http://mozilla.org"><img src="/img/sandstone/footer-mozilla.png" alt="mozilla"></a>
                  </div>

                  <div class="footer-license">
                      <p>Portions of this content are &copy;1998–2012 by individual mozilla.org contributors. Content available under a <a href="http://www.mozilla.org/foundation/licensing/website-content.html">Creative Commons license</a>.</p>
                      <p><a href="http://mozilla.org/b/en-US/contribute/page/">Contribute to this page</a></p>
                  </div>
                  <ul class="footer-nav">
                    <li><a href="http://mozilla.org/about/contact.html#map-mountain_view">Contact Us</a></li>
                    <li><a href="http://mozilla.org/privacy-policy.html">Privacy Policy</a></li>
                    <li><a href="http://mozilla.org/about/legal.html">Legal Notices</a></li>
                    <li><a href="http://mozilla.org/legal/fraud-report/index.html">Report Trademark Abuse</a></li>
                  </ul>

                  <ul class="footer-nav">
                    <li><a href="http://twitter.com/firefox">Twitter</a></li>
                    <li><a href="http://facebook.com/Firefox">Facebook</a></li>
                    <li><a href="https://affiliates.mozilla.org/">Firefox Affiliates</a></li>
                  </ul>
              </div>
            </footer>
            {% endblock %}
        </div>
        <script src="//www.mozilla.org/tabzilla/media/js/tabzilla.js"></script>
        {% block js %}{% endblock %}
    </body>
</html>
