.gombot #outer-wrapper {
  border-top: 2px solid #fff;
  background: rgb(246, 246, 246) url(/img/sandstone/bg-labs.png) 0 0 repeat-x;
}

.gombot #main-feature {
  padding-top: 50px;
  padding-bottom: 18px;
}

.gombot button {
  height: 34px;
  line-height: 24px;
}

.gombot .sign-up-input {
  margin-right: 10px;
  width: 18em;
}

.gombot a,
.gombot a:link,
.gombot a:visited {
  color: #2983c8;
}
.gombot a:hover,
.gombot a:active {
  color: #20679e;
}

.gombot h2 img {
  vertical-align: middle;
}

.gombot h2.main {
  font-size: 3em;
  padding-top: 50px;
  padding-bottom: 18px;
}

.splash h1 {
    font-size: 63px;
    letter-spacing: -4px;
    line-height: 100%;
}

.gombot .splash h2 {
    font-size: 40px;
    letter-spacing: -1px;
    line-height: 150%;
}

.splash {
}

#sign-up {
  position: relative;
  margin: 0 auto;
  width: 700px;
  text-align: middle;
  padding-bottom: 54px;
}

#logo {
  position: relative;
  float: left;
  z-index: 2;
}

#splash-box {
  position: relative;
  background-color: rgb(190, 221, 227);
  background-image: url("/img/shadow.png");
  background-position: bottom left;
  background-repeat: no-repeat;
  display: inline;
  margin-left: -100px;
  margin-top: 66px;
  float: left;
  z-index: 1;
  padding: 25px 25px 67px 80px;
}

.gombot #main-content {
  color: #666;
  font-family: 'Open Sans Light', sans-serif;
}

.gombot label {
  font-size: 90%;
}

.gombot .description {
  font-family: 'Open Sans Light', sans-serif;
}

.gombot .description img {
  padding: 0 5px;
}

#splash-box .download {
  padding-left: 50px;
  padding-right: 25px;
}

#splash-box .download-button {
  position: relative;
  height: 52px;
  text-align: left;
  padding-left: 48px;
  font-size: 130%;
}

#splash-box a.download-button {
  line-height: 28px;
  color: white;
}

.download-button img {
  position: absolute;
  top: -5px;
  left: -24px;
}

#splash-box .alts {
  display: block;
  padding-top: 15px;
}

.gombot .blurb {
  width: 50%;
  padding: 10px;
}

#client-logos img {
  vertical-align: middle;
}

